.size_hack {
    float: center;
    height: 350px;
    overflow: hidden;
    margin: 10px;
}

.margin-top-two {
    margin-top: 2%;
}

.margin-bottom-two {
    margin-bottom: 2%;
}

p {
    font-size: 16px;
}