<!DOCTYPE html> {% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
<title>Craigslist Filter</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block header %}
<div class="jumbotron text-center">
	<h1 class=display-4>Craigslist Filter</h1>
	<p class=lead>Under Construction...</p>
	<hr class=my-10>
	<p>Developed by Austin Reese</p>
</div>
{% endblock %}
{% block contentwrapper %}
<div class="container">
	{% block content %}{% endblock %}
</div>
{% endblock %}