<!DOCTYPE html> {% extends "base.html" %}
{% block content %}
<div class="text-justify">
    <h3 class="text-center">About</h3>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p>
        Used Vehicle Search allows users to filter a database of roughly 500k used vehicles and hosts analytical applications.
            Currently the only analytical application is a quantile table feature, which displays displays the averages of said
            field based in the Nth percentile, sorted by the percentiles of another numerical field. More applications will be
            added in the future. Data is collected twice weekly from every Craigslist site in the United States, contrary to
            searching the database of a single regional Craigslist site. This application is designed and maintained by Austin
            Reese, currently seeking employment in software development or data analytics. Check out my
            <a target="_blank" href="https://github.com/austinreese">GitHub</a>
            and
            <a target="_blank" href="https://www.linkedin.com/in/austinreese1998/">LinkedIn</a>.
        </p>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}