<!DOCTYPE html> {% extends "base.html" %}
{% block content %}
<form action="/" method=POST>
	<h2 class="form-login-heading text-center">Search Craigslist</h2>
	    {{ form.csrf_token }}
  		{{ wtf.form_field(form.city) }}
  		{{ wtf.form_field(form.manufacturer) }}
  		{{ wtf.form_field(form.make) }} 
  		{{ wtf.form_field(form.condition) }}
  		{{ wtf.form_field(form.cylinders) }} 
  		{{ wtf.form_field(form.fuel) }} 
  		{{ wtf.form_field(form.transmission) }}
  		{{ wtf.form_field(form.titleStatus) }} 
  		{{ wtf.form_field(form.vin) }} 
  		{{ wtf.form_field(form.drive) }}
  		{{ wtf.form_field(form.size) }} 
  		{{ wtf.form_field(form.vehicleType) }} 
  		{{ wtf.form_field(form.paintColor) }}
  		{{ wtf.form_field(form.price) }}
  		{{ wtf.form_field(form.year) }} 
  		{{ wtf.form_field(form.odometer) }}
	<input type=submit val=go>
</form>
{% endblock %}