<!DOCTYPE html> {% extends "base.html" %}
{% block content %}
<div class="text-center">
	{% if data|length == 0 %}
	<div class="col-md-12">
		<h2>No results found</h2>
	{% else %}
		{{ pagination.links }}
		{% if page * per_page < total %}
			<h4>Showing results {{(page - 1) * per_page + 1}}-{{page * per_page}} out of {{total}} total matches</h4>
		{% else %}
					<h4>Showing results {{(page - 1) * per_page + 1}}-{{total}} out of {{total}} total matches</h4>
		{% endif %}
		<ul class="list-group">
		{% for entry in range(data|length) %}
			<div class="col-md-4 panel text-center">
				{% if data[entry][4] != None %}
				<li class="list-group-item text-center size_hack">
					<a target=_blank, href={{data[entry][0]}}>
						<div class="col-md-12">{{data[entry][3]}} {{data[entry][4]}} {{data[entry][5]}} - ${{data[entry][2]}} - Located in {{data[entry][1]}}</div>
						<img src={{data[entry][6]}} alt="Photo not available" style="max-width: 100%">
					</a>
				</li>
				{% else %}
				<li class="list-group-item text-center size_hack">
					<a target=_blank, href={{data[entry][0]}}>
						<div class="col-md-12">{{data[entry][3]}} {{data[entry][5]}} - ${{data[entry][2]}} - Located in {{data[entry][1]}}</div>
						<img src={{data[entry][6]}} alt="Photo not available" style="max-width: 100%">
					</a>
				</li>
				{% endif %}
			</div>
		{% endfor %}
		</ul>
		<div class="col-md-12">
			{{ pagination.links }}
		</div>
		<div class="col-md-12 margin-bottom-two">
			<button class="btn btn-primary " id="toTop">Scroll to top</button>
			<a class="btn btn-large btn-primary" href="/filter">Search again</a>
		</div>
	</div>
	{% endif %}
</div>
<script>
$("#toTop").click(function () {
   $("html, body").animate({scrollTop: 0}, 1000);
});
</script>
{% endblock %}